body {
  margin: 3px !important;
  background: #fff;
}

#content {
  position: relative;
  font-family: "Helvetica Neue UltraLight", "Helvetica Neue", "Helvetica Light", Helvetica, Arial;
  background-image: -webkit-linear-gradient(top, #454545, #0d0d0d);
  color: #ddd;
  padding: 12px 15px 102px;
  border-radius: 2px;
  font-weight: 200;
  width: 360px;
}

h1 {
  line-height: 1em;
  padding-bottom: 0.2em;
  margin: 3px 0;
  font-weight: 100;
  font-size: 25px;
}

.retina h1 {
  font-weight: 200;
}

a,
a:visited,
a:active {
  color: #ddd;
}

/* Buttons. */

button,
input[type="submit"] {
  display: inline-block;
  line-height: 1.2em;

  font-weight: normal;
  padding: 8px 30px;

  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .1);

  background-image: -webkit-linear-gradient(top, #87ae39, #6c9c0d);

  border: none;
  border-radius: 5px;

  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}


/* Form inputs -- mostly borrowed from Bootstrap. */

input,
textarea {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 6px;
  color: #333;
  border: 1px solid #ccc;
}

::-webkit-input-placeholder {
  color: #aaa;
}

input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
}

input,
textarea {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
}

input:focus,
textarea:focus {
  border-color: rgba(82,168,236,.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  outline: 0;
}

#logo {
  width: 82px;
  position: absolute;
  bottom: 15px;
  left: 21px;
}

#note {
  width: 345px;
  height: 50px;
  display: block;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin: 9px 0;
}

#share-container {
  font-size: 14px;
  white-space: nowrap;
}

.close {
  cursor: pointer;
}

#buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 21px 21px 0;
  text-align: right;
}

#buttons input[type="submit"] {
  margin-left: 15px;
}

#status {
  display: none;
  text-align: center;
}
#status .close {
  margin-top: 48px;
}
.has-status h1,
.has-status #posting-form {
  display: none;
}
.has-status #status {
  display: block;
  color: #fff;
  font-weight: 100;
}
.has-status #status-message {
  font-size: 28px;
  line-height: 40px;
  text-align: left;
}
.has-status #status-sub-message {
  text-align: left;
}
.retina .has-status #status {
  font-weight: 200;
}